@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Open+Sans:wght@300;400;600&display=swap");

body {
  font-family: "Baloo Tamma 2", cursive;
  background-color: #fcf0cc;
  margin: 0px;
}

nav {
  color: white;
  font-size: 25px;
  background-color: #002b37;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: 0.8;
}

nav a {
  color: white;
  margin-left: 20px;
  position: relative;
  text-decoration: none;
}

nav a:hover {
  border-bottom: 3px solid white;
}

header {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80");
  background-size: cover;
  background-position: center center;
  position: relative;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  padding-top: 40px;
}
header::after {
  content: "";
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  opacity: 0.5;
}
header * {
  position: relative;
  z-index: 1;
}
header img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.case {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  font-size: 18px;
}
.catch {
  background-color: white;
  width: 50px;
  height: 20px;
  border-radius: 50px;
  padding: 2px;
}

.ball {
  height: 20px;
  width: 20px;
  background-color: #002b37;
  border-radius: 50%;
  cursor: pointer;
}

.ball:hover {
  float: right;
}
.skills {
  background-color: #002b37;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}
#projects {
  background-color: #002b37;
  border-top: 1px solid white;
}
#projects .projects-container img {
  height: 150px;
}
#projects .projects-container p,
h2 {
  color: white;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.project-tile {
  max-width: 250px;
  margin: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.project-tile:hover {
  transform: scale(1.05);
}

.project-tile img {
  max-width: 100%;
}

.project-tile p {
  color: black;
  font-size: 20px;
  margin-top: 10px;
}

section {
  text-align: center;
  padding: 20px;
}

.social {
  background-color: #002b37;
  border-top: 1px solid white;
  color: white;
}

.social-ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social-ul a {
  font-size: 25px;
  color: white;
  margin: 5px 10px;
  border-radius: 50%;
  border: 1px solid white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  text-decoration: none;
}

section {
  font-size: 20px;
}

.contact {
  background-color: #002b37;
  color: white;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
}

.contact div form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact div form input {
  margin: 2px;
  border-radius: 5px;
  border: none;
}
.contact div form input::placeholder {
  padding: 5px;
  font-family: "Baloo Tamma 2", cursive;
}
.contact div form input::content {
  padding: 5px;
  font-family: "Baloo Tamma 2", cursive;
}
.contact div form textarea {
  margin: 2px;
  border-radius: 5px;
  border: none;
  font-family: "Baloo Tamma 2", cursive;
}
.contact div form div {
  margin: 2px;
}
.contact div form button {
  margin: 2px;
  border-radius: 5px;
  border: none;
  width: 70px;
  font-weight: bold;
  font-family: "Baloo Tamma 2", cursive;
  cursor: pointer;
}

.footer-pre {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #002b37;
  border-top: 1px solid white;
  color: white;
  text-align: center;
  padding-bottom: 2px;
}

.footer-pre button {
  background-color: #002b37;
  border: 1px solid white;
  margin-left: 2px;
  color: white;
  border-radius: 5px;
}

.footer {
  background-color: #002b37;
  border-top: 1px solid white;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .fa-heart {
  color: green;
}

.container {
  position: relative;
  padding-top: 40px;
  padding-right: 10px;
  width: 100%;
  height: 500px;
  background-color: #002b37;
  border-top: 1px solid white;
  z-index: 0;
}

.container .quotes {
  position: relative;
  margin-left: 150px;
  margin-top: 70px;
}

.container .pattern-bg {
  position: absolute;
  padding-right: 150px;
  top: 10;
  right: 0;
  height: 400px;
}

.container .pattern-curve {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
}

.container .inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .inside .first {
  margin-left: 50px;
}

.container .inside .first p {
  width: 670px;
  margin-top: -30px;
  font-size: 20px;
  font-weight: 200;
  font-family: Inter;
  margin-left: 20px;
}

.container .inside .first h3 {
  color: white;
  font-family: Inter;
}

.container .inside .first h3 small {
  color: #babacf;
}

.container .inside .tanya img {
  position: relative;
  height: 335px;
  width: 300px;
  margin-top: -142px;
  margin-left: -50px;
  -webkit-box-shadow: 10px 10px 20px #ccc;
  box-shadow: 10px 10px 20px #ccc;
  border-radius: 5px;
}

.container .inside .tanya .navigation {
  background-color: white;
  height: 30px;
  width: 70px;
  margin-top: -25px;
  margin-left: -25px;
  border-radius: 20px;
}

.container .inside .tanya .navigation div {
  height: 100%;
  width: 100%;
}

.container .inside .tanya .navigation div img {
  width: 10px;
  height: 10px;
  margin-left: 15px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 440px) {
  header img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    /* margin-top: 30px; */
    /* margin-bottom: 10px; */
  }

  nav {
    font-size: 15px;
  }

  .skills {
    padding: 2px;
  }
}
